///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/
//.u-anchor:before{
//	content:"";
//	margin-top: -100px;
//	padding-top: 100px;
//}

//------------------------------------------------------------
// margin
//------------------------------------------------------------

//------------------------------------------------------------
// color
//------------------------------------------------------------

//------------------------------------------------------------
// else
//------------------------------------------------------------

.u-flex {
    display: flex;
    flex-wrap: wrap;
}

.u-between {
    justify-content: space-between;
}
.u-t-center {
    text-align: center;
}
.u-center {
    justify-content: center;
}

.u-a-center {
    align-items: center;
}
.u-fullheight {
    height: 100vh;
}
.u-fullwidth {
    width: 100vw;
}

.u-reverse {
    flex-wrap: wrap-reverse;
}
.u-fade {
    opacity: 0;
    transition: 700ms ease-in-out;
}

.u-fade.u-fade--show {
    opacity: 1;
}

.is-hide {
    display: none;
}
.is-fade {
    opacity: 1;
    transition: opacity 1s ease;
    &--show {
        opacity: 0;
    }
}
