.p-search {
    padding: 150px 0 100px;
    background-color: $bgBold;
    &__top {
        margin-bottom: 50px;
        display: flex;
        text-align: center;
        justify-content: space-between;
        height: 45px;
        @include breakpoint(tab) {
            display: block;
            height: unset;
            text-align: unset;
            margin-bottom: 35px;
        }
        h3 {
            font-size: 3rem;
            font-weight: bold;
            color: white;
            width: 300px;
        }
        form {
            border-radius: 4px;
            background-color: #f9f5f4;
            display: flex;
            padding-right: 5px;
            width: calc(66.6% - 10px);
            @include breakpoint(tab) {
                width: 100%;
                height: 40px;
                margin-bottom: 20px;
            }
            .search-icon {
                cursor: pointer;
            }
        }
        span {
            height: 100%;
            width: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            @include breakpoint(tab) {
                width: 40px;
            }
            svg {
                font-size: 20px;
            }
        }
        select {
            cursor: pointer;
            height: 100%;
            border-radius: 999px;
            background-color: $mainColor;
            color: white;
            padding: 0 25px;

            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: "";
            &::-ms-expand {
                display: none;
            }
            @include breakpoint(tab) {
                height: 40px;
            }
        }
        input {
            display: block;
            flex: 1;
            height: 100%;
            background-color: transparent;
        }
    }
    &__content {
        display: flex;
        @include breakpoint(tab) {
            display: block;
        }
    }
    &__left {
        width: 180px;
        margin-right: 40px;
        @include breakpoint(tab) {
            width: 100%;
            margin-right: 0;
        }
        h3 {
            font-size: 3rem;
            color: white;
            letter-spacing: 0.64px;
            margin-bottom: 65px;
        }
    }
    &__right {
        flex: 1;
    }
    &__list {
        margin-left: -20px;
        margin-right: -20px;
        @include breakpoint(tab) {
            margin-left: -10px;
            margin-right: -10px;
        }
    }
    &__filter {
        color: white;
        margin-bottom: 40px;
        width: 100%;
        h4 {
            font-size: 1.8rem;
   
        }
        &__control {
            display: flex;
            align-items: center;
            cursor: pointer;
            h4 {
                flex: 1;
            }
            .anticon{
                font-size: 1.6rem;
                color: white;
            }
            .plus {
                display: block;
            }
            .minus {
                display: none;
            }
            &.is-open {
                .plus {
                    display: none;
                }
                .minus {
                    display: block;
                }
            }
        }
        ul {
            display: none;
            margin-top: 15px;
        }
        li {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            font-size: 1.3rem;
            input {
                width: 16px;
                height: 16px;
                border-radius: 2px;
                display: inline-block;
                margin-right: 7px;
            }
            span {
                display: block;
                flex: 1;
                text-transform: capitalize;
            }
        }
    }
}
