.p-footer {
    background: #0a0d14;
    position: relative;
    z-index: 1;
    &__top {
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
    }
    &__bottom {
        padding-bottom: 50px;
    }
    &__logo {
        width: 40px;
        height: 40px;
        display: block;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__socials {
        padding: 10px 0;
        @include breakpoint(sp) {
            display: none;
        }
        color: white;
        font-size: 1.6rem;
        margin-left: 15px;
        p {
            display: inline-block;
            padding-left: 5px;
            color: #949cb0;
            transition: all 0.6s;
        }
        svg {
            font-size: 2rem;
        }
        &:hover {
            p {
                color: white;
            }
        }
    }
    &__item {
        h3 {
            font-size: 1.8rem;
            color: white;
            font-weight: bold;
            margin: 50px 0 30px;
        }
    }
    &__copyright {
        font-size: 1.2rem;
        letter-spacing: 0.64px;
        height: 40px;
        background-color: black;
        line-height: 40px;
        text-align: center;
        color: white;
    }
    &__breadcrumb {
        a {
            font-size: 1.4rem;
            color: #949cb0;
            margin: 10px 0;
            display: block;
            &:hover {
                color: white;
            }
        }
    }
}
