.c-comment {
    display: flex;
    margin-top: 50px;

    &__image {
        width: 80px;
        height: 80px;
        display: block;
        border-radius: 50%;
        overflow: hidden;
        @include breakpoint(tab) {
            width: 60px;
            height: 60px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__info {
        width: calc(100% - 80px);
        padding-left: 20px;
        padding-top: 15px;
        @include breakpoint(tab) {
            padding-top: 5px;
            padding-left: 15px;
        }
    }
    &__name {
        font-size: 1.8rem;
        color: $mainColor;
        @include breakpoint(tab) {
            font-size: 1.6rem;
        }
    }
    &__text {
        font-size: 1.6rem;
        color: white;
        margin-top: 10px;
        line-height: 1.8;
        @include breakpoint(tab) {
            font-size: 1.4rem;
            margin-top: 5px;
        }
    }
}
