.c-item {
    padding: 0 15px;
    margin-bottom: 30px;
    .gutter {
        position: relative;
        height: 400px;
        border-radius: 5px;
        overflow: hidden;
        transition: all 0.6s ease;
        border: 1px solid #ddd;
        @include breakpoint(tab) {
            height: 300px;
        }
        .is-hover {
            opacity: 0;
            transition: all 0.6s ease;
        }
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 1;
            background: rgba($color: #000, $alpha: 0.4);
            pointer-events: none;
            opacity: 0;
        }
        &:hover {
            box-shadow: 2px 2px 20px rgba($color: #fff, $alpha: 0.6);
            transform: translateY(-8px);
            &::after {
                opacity: 1;
            }
            .is-hover {
                opacity: 1;
            }
        }
    }
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__label {
        color: $mainColor;
        font-size: 1.3rem;
        text-transform: uppercase;
        font-weight: bolder;
        display: block;
        margin-bottom: 5px;
    }
    &__content {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 20px;
        z-index: 2;
        .u-flex {
            margin-top: 10px;
        }
    }
    &__name {
        font-size: 2.2rem;
        font-weight: bold;
        letter-spacing: 0.78px;
        color: white;
    }
    &__play {
        width: 50px;
        height: 50px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.6s;
        padding-left: 2px;
        svg {
            transition: all 0.6s;
            font-size: 2.5rem;
        }
        &:hover {
            background-color: $mainColor;

            svg {
                color: white;
            }
        }
    }

    &__chapter {
        margin-left: 10px;
        color: white;
        font-size: 1.4rem;
        letter-spacing: 0.64px;
    }
}
