.c-paginate {
    margin-top: 100px;
    @include breakpoint(tab) {
        margin-top: 70px;
    }
    p {
        font-size: 1.6rem;
        color: white;
        @include breakpoint(tab) {
            font-size: 1.4rem;
        }
    }
    ul {
        margin: 0 20px;
        li {
            font-size: 1.6rem;
            color: white;
            margin: 0 7px;
            cursor: pointer;
            @include breakpoint(tab) {
                font-size: 1.4rem;
            }
            &.is-current {
                color: $mainColor;
                text-decoration: underline;
            }
        }
    }
}
