.p-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 99999;
    background: rgba($color: #000000, $alpha: 0.7);
    overflow: auto;
    display: none;
    &__title {
        text-align: center;
        text-transform: capitalize;
    }
    &__subtitle {
        font-size: 1.8rem;
        font-weight: bold;
        margin-top: 30px;
    }
    &__content {
        padding: 30px 50px;
        width: 1000px;
        background-color: $bgSmooth;
        margin: 40px auto;
        position: relative;
        border-radius: 10px;
        min-height: calc(100vh - 80px);
        @include breakpoint(tab) {
            width: calc(100% - 30px);
        }
        .c-close {
            position: absolute;
            top: 15px;
            right: 15px;
            svg {
                cursor: pointer;
                font-size: 3.5rem;
                &:hover {
                    color: $mainColor;
                }
            }
        }
    }
}
