.c-popup__item {
    color: white;
    padding: 30px 0;
    border-bottom: 1px solid #eaeaea;
    border-radius: 7px;
    @include breakpoint(sp) {
        border-bottom: none;
    }
    &__left {
        width: 190px;
        @include breakpoint(sp) {
            width: 100%;
        }
    }
    &__ep {
        font-size: 2rem;
        width: 40px;
        @include breakpoint(sp) {
            display: none;
        }
    }
    &__image {
        width: 150px;
        height: 100px;
        position: relative;
        @include breakpoint(sp) {
            width: 100%;
            height: 200px;
        }
        img {
            width: 100%;
            height: auto;
            max-height: 100%;
            object-fit: cover;
            object-position: top;
            border-radius: 5px;
        }
    }
    &__right {
        width: calc(100% - 190px);
        padding-left: 40px;
        @include breakpoint(sp) {
            width: 100%;
            padding-left: unset;
        }
    }
    &__content {
        font-size: 1.4rem;
        line-height: 1.7;
        margin-top: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        @include breakpoint(sp) {
            margin-top: 5px;
        }
    }
    .c-title3 {
        font-size: 1.6rem;
        @include breakpoint(sp) {
            margin-top: 10px;
        }
    }
    &:hover {
        .c-btn--play {
            opacity: 1;
        }
    }
}
