.register {
	background-image: url(../img/register-background.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	width: 100%;
	padding: 150px 0 100px;
	@include breakpoint(tab) {
		padding: 100px 30px;
	}
	@include breakpoint(tab) {
		padding: 100px 15px;
	}
	position: relative;
	&__content {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
	}
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba($color: #000000, $alpha: 0.7);
	}
}
