.c-search-item {
    color: rgba($color: #fff, $alpha: .8);
    margin-bottom: 50px;
    padding: 0 20px;
    @include breakpoint(tab){
        padding: 0 10px;
    }
    .anticon-star{
        color: yellow;
    }
 
    .gutter{
    }
    &__img {
        height: 145px;
        margin-bottom: 10px;
        border-radius: 10px;
        overflow: hidden;
        @include breakpoint(pro){
            height: 135px;
        }
        @include breakpoint(tab){
            height: 150px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__name {
        font-size: 1.8rem;
        letter-spacing: 0.54px;
        margin-bottom: 5px;
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
        color: rgba($color: #fff, $alpha: .6);
    }
    &__rated {
    }
    &__actor {
    }
}
