.c-resolution {
    border: 1px solid #fff;
    font-size: 1.3rem;
    font-weight: bold;
    padding-left: 5px;
    display: block;
    span {
        margin-left: 5px;
        padding: 0 5px;
        background-color: #fff;
        color: #000;
    }
}

.c-rated {
    font-size: 1.4rem;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    font-weight: bold;
}
.c-more {
    width: 300px;
    max-width: 100%;
    height: 50px;
    margin: 50px auto 0;
}

.c-btn {
    outline: none;
    font-size: 1.6rem;
    border-radius: 2px;
    transition: all 0.6s;
    font-weight: bold;
    letter-spacing: 0.78px;
    border: 1px solid #eaeaea;
    color: $mainColor;
    background: #eaeaea;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
        background-color: $mainColor;
        color: white;
        border-color: $mainColor;
    }
    &--primary {
        border-color: $mainColor;
        background-color: $mainColor;
        color: white;
        &:hover {
            background-color: #eaeaea;
            color: $mainColor;
            border-color: #eaeaea;
        }
    }
}

.c-btn--play {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    font-size: 3rem;
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 50%;

    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2px;
    color: white;
    opacity: 0;
    transition: all 0.6s;
    &:hover {
        border-color: $mainColor;
        color: $mainColor;
    }
}
